{% extends 'base.html' %}

{% block conteudo %}

    <body>
        <div style="height: 20vh;"  class="jumbotron ui-widget">
        
            <h1 style="text-align: center;">Artigos encontrados para a busca</h1>
            <hr>
            
                
        {% for artigo in nome %}
        <div class="d-flex justify-content-center">
            <div class="table-users">
                <p><br></p>
                <div class="header" inset-inline-start: "50px">Detalhes do artigo</div>
                <table cellspacing="5">
                    
                    <tr>
                        <td><label>Titulo: </label></td>
                        <td><label>{{artigo['Titulo']}}</label></td>
                    </tr>
                    <tr>
                        <td><label>Resumo :</label></td>
                        <td><label>{{artigo['Resumo']}}</label></td>
                    </tr>
                    <tr>
                        <hr3 style="min-width:20%; position:absolute; top: 80%; left: 10%;">
                    </td>
                    <tr>
                        <td><a href={{artigo['URL']}}>Leia o artigo completo</a>    
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form1">
                <form action="/" method="GET">
                    <input style="min-width:0%; position:relative; top: -100%; left: -80%;"  class="btn btn-success" type="submit"  value="Voltar">
                </form>
            </div>
            
        </div>
        {% endfor %}  
        
</body>
{% endblock %}
 
